# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
.build/

# Virtual env
.venv/

# OS + IDE
.DS_Store
.idea/
.vscode/

# Data outputs (keep folders, ignore contents)
data/*
db/*
!data/.gitkeep
!db/.gitkeep

# Jupyter
.ipynb_checkpoints/

# DuckDB files (database + sidecar files)
*.duckdb
*.duckdb.wal
*.duckdb.tmp
scripts/*BACKUP*.py
